extends layout

block content
  #container.all
    #display
      div
        table
          thead
            tr
              th Comment
              th Build id
              th Date added
              if (isLogged)
                th User
                th
            tbody
              each item in comments
                each comment in item.device.comments
                  tr
                    td= comment.comment
                    td= comment.build_id
                    td= comment.date_added
                    if (isLogged)
                      td
                        a(href="/user/" + item.email) #{item.email}
                      td
                        abbr(title="Delete comment")
                          a(href="")
                            i.icon-trash
