extends layout

block content
  #container.all
    #display
      div
        table
          thead
            tr
              th Comment
              th Build id
              th Date added
            tbody
              each item in comments
                each comment in item.device.comments
                  tr
                    td= comment.comment
                    td= comment.build_id
                    td= comment.date_added
