extends layout

block content
  #container
    if locals.msg
      #message.alert.alert-error msg
    #display
      form(method="post", action="/device/new").form-horizontal
        fieldset
          div.control-group
            label(for="imei").control-label Device's IMEI
            input(type="text", name="imei", placeholder="IMEI", required)
          div.control-group
            label(for="email").control-label Select user
            select(name="email", placeholder="User", required)
              if (users)
                each user in users
                  option(value=user.email) #{user.email}
          div.form-actions
            input(type="submit", value="Submit & Deploy", class="btn").btn-info
            input(type="reset", value="Reset", class="btn")
