extends layout

block content
  #container.all
    #display
      div
        table.table(class= "table-hover")
          thead
            tr
              th User
              th IMEI
              th Date added
              th
            tbody
              each item in devices
                tr
                  td
                    a(href="/user/" + item.email) #{item.email}
                  td= item.device.imei
                  td= item.device.date_added
                  td
                    abbr(title="Delete device")
                      a(href='/device/' + item.device.imei + '/delete')
                        i.icon-trash
