extends layout

block content
  #container
    #display
      form(method="post", action="/")
        | Firefox OS doogfooders device deployment
        div
          p
            label Device's IMEI
            input(type="text", name="imei")
          p
            label Select user
            span(class="small") User not in list? Please go to signup
          p
            input(type="submit", value="Submit & Deploy")
