extends layout

block content
  #container.all
    #display
      div
        table
          thead
            tr
              th Comment
              th Build id
              th Date added
              if (isLogged)
                th User
                th
            tbody
              each item in feedback
                tr
                  td= item.comment
                  td= item.build_id
                  td= item.date_added
                  if (isLogged)
                    td
                      a(href="/user/" + item.user) #{item.user}
                    td
                      abbr(title="Delete comment")
                        a(href="")
                          i.icon-trash
