extends layout

block content
  #container
    if locals.msg
      #message.alert.alert-error msg
    #display
      form(method="post",action="/").form-horizontal
        fieldset
          div.control-group
            label.control-label Device's IMEI
            input(type="text", name="imei", placeholder="Device's IMEI")
          div.control-group
            label.control-label Contact email
            input(type="text", name="contact", placeholder="Contact email")
          div.control-group
            label.control-label Your Feedback
            textarea(type="text", name="comment", rows="5", placeholder="Feedback", required)
          div.control-group
            label.control-label Build ID
            input(type="text", name="build_id", placeholder="Build ID")
          div.form-actions
            input(type="submit", value="Submit", class="btn").btn-info
            input(type="reset", value="Reset", class="btn")
