doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #logo
      img(src='/images/logo.png')
    block content
    #footer
      a(href='/user/new') New user
      ||
      a(href='/feedback') Feedback form
