doctype 5
html
  head
    title Firefox OS Feedback
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Firefox OS Feedback
          block content
      #footer
