doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bootstrap-responsive.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css", media="screen")
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="/js/bootstrap.min.js")
  body
    - home = ((typeof(active) !== "undefined") && (active == "home")) ? "active" : null
    - feedbackall = ((typeof(active) !== "undefined") && (active == "feedbackall")) ? "active" : null
    - feedbacknew = ((typeof(active) !== "undefined") && (active == "feedbacknew")) ? "active" : null
    - admin = ((typeof(active) !== "undefined") && (active == "admin")) ? "active" : null
    ul(class="nav nav-pills")
      li(class=home)
        a(href="/") Home
      li(class=feedbackall)
        a(href="/feedback/all") Feedback
      li(class=feedbacknew)
        a(href="/feedback/new") Add feedback
      li.dropdown(class=admin)
        a.dropdown-toggle Admin
          b.caret
        ul.dropdown-menu
          li
            a(href="/user/all") User list
          li
            a(href="/user/new") Add user
          li
            a(href="/device/all") Device list
          li
            a(href="/device/new") Add device
    #logo
      img(src="/img/logo.png")
    block content
    script
      $(".dropdown-toggle").dropdown()
