doctype 5
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #logo
      img(src="/images/logo.png")
    block content
    #footer
      a(href="/user/new") Add user
      ||
      a(href="/device/new") Add device
      ||
      a(href="/feedback") Feedback form
      ||
      a(href="/user/all") Users
      ||
      a(href="/device/all") Devices
      ||
      a(href="/comment/all") Comments
      ||
      a(href="/logout") Logout
