extends layout

block content
  #container.container
    if locals.msg
      #message.alert.alert-error msg
    #display
      form(action='/login', method='post')
        div.row
          p.span7.offset1 
            strong Please login with administrator privileges
        div.row
          div.span3.offset1
            label(for="username") Username
            input(type="text", class="input-block-level", name="username", placeholder="Username", required)
          div.span3.offset1
            label(for="password") Password
            input(type="password", class="input-block-level", name="password", placeholder="Password", required)
        div.row
          div.span8.form-actions
            button(type="submit", class="btn").btn-info Login
