extends layout

block content
  #container
    #display
      form(action='/login', method='post')
        fieldset
          legend Credentials
          p
            label(for="username") Username:
              input(type="text", name="username", placeholder="Username", required)
          p
            label(for="password") Password:
              input(type="password", name="password", placeholder="Password", required)
          p.buttons
            input(type="submit", value="Submit")
