extends layout

block content
  script(src="/js/usernew.js")
  script(src="/js/popovers.js", defer)
  #container.container
    if locals.msg
      #message.alert.alert-error msg
    #display
      form(method='post',action='/user/new')
        div.row
          div.span3.offset1
            label(for="first_name") First name
            input(type="text", class="input-block-level", name="first_name", placeholder="First name", maxlength="60", required)
          div.span3.offset1
            label(for="last_name") Last name
            input(type="text", class="input-block-level", name="last_name", placeholder="Last name", maxlength= "120", required)
        div.row
          div.span3.offset1
            label(for="email") Email
            input(type="email", class="input-block-level", name="email", placeholder="Email", maxlength="120", required)
          div.span3.offset1
            label(for="location") Location
            select#location(name="location", class="input-block-level", onchange="showOtherLocation(this)", value="BARCELONA", rel="popover", data-content="Where is the user based? Madrid. Boecillo, Valladolid…", data-original-title="Location")
              option(value="BARCELONA") Barcelona
              option(value="BOECILLO(VALLADOLID)") Boecillo (Valladolid)
              option(value="BRASIL") Brasil
              option(value="GRANADA") Granada
              option(value="MADRID") Madrid
              option(value="RA`ANANA(ISRAEL)") Ra`anana (Israel)
              option(value="UK") UK
              option(value="WALKA(HUESCA)") Walka (Huesca)
              option(value="OTHER") Other
        div.row
          div.span3.offset1#other_location(style="display: none")
            label(for="other_location") Other Location
            input(type="text", class="input-block-level", name="other_location", placeholder="Other location")

        div.row
          div.span3.offset1
            label(for="primary_phone") Primary phone?
            select(name="primary_phone", class="input-block-level", rel="popover", data-content="Will the user use the phone as his/her primary phone?", data-original-title="Primary phone")
              option(value=0) No
              option(value=1) Yes
          div.span3.offset1
            label(for="sim") Dogfooder SIM?
            select(name="sim", class="input-block-level", onchange="showSIMDetails(this)", rel="popover", data-content="Does the user need a new SIM to test the phone?", data-original-title="Dogfooder SIM")
              option(value=0) No
              option(value=1) Yes
        div.row
          div.span3.offset1
            label(for="carrier") Supported carrier?
            select#carrier(name="carrier", class="input-block-level", value="Movistar", onchange="showOtherCarrier(this)", rel="popover", data-content="What is the carrier the user will use?", data-original-title="Carrier")
              option(value="Movistar") Movistar
              option(value="Vodafone") Vodafone
              option(value="Orange") Orange
              option(value="Yoigo") Yoigo
              option(value="Pepephone") Pepephone
              option(value="Other") Other
          div.span3.offset1
            label(for="device.imei") Device IMEI
            input(type="text", class="input-block-level", name="imei", placeholder="Device IMEI", rel="popover", data-content="Please, double check before submitting!", data-original-title="Device IMEI", maxlength="30")
        div.row
          div.span3.offset1#phone_number(style="display: none")
            label(for="phone_number") Phone number
            input(type="text", class="input-block-level", name="phone_number", placeholder="Phone number", rel="popover", data-content="Please, add the user's phone number in case he/she needs a dogfooder SIM", data-original-title="Phone number", maxlength="40")
          div.span3.offset1#other_carrier(style="display: none")
            label(for="other_carrier") Other carrier
            input(type="text", class="input-block-level", name="other_carrier", placeholder="Other carrier", maxlength="30")

        div.row
          div.span8.form-actions
            button(type="reset", class="btn") Reset
            button(type="submit", class="btn btn-info") Submit
