extends layout

block content
  script(src="/javascripts/usernew.js")
  #container
    #display
      form(method='post',action='/user/new')
        | New user
        div
          p
            label(for="first_name") First name
              input(type="text", name="first_name", placeholder="First name", required)
          p
            label(for="last_name") Last name
              input(type="text", name="last_name", placeholder="Last name", required)
          p
            label(for="email") Email
              input(type="text", name="email", placeholder="Email", required)
          p
            label(for="location") Location
              input(type="text", name="location", placeholder="Location")
          p
            label(for="primary_phone") Primary phone?
              span(class="small")  Would you use this as your primary phone?
              select(name="primary_phone")
                option(value=0) No
                option(value=1) Yes
          p
            label(for="sim") Dogfooder SIM?
              span(class="small") Did you request a dogfooder SIM with your device?
              select(name="sim", onchange="showSIMDetails(this)")
                option(value=0) No
                option(value=1) Yes
          p
            label(for="carrier") Supported carrier?
              span(class="small") Are you with Movistar (or other GSM network)?
              select(name="carrier", value="Movistar")
                option(value="Movistar") Movistar
                option(value="Vodafone") Vodafone
                option(value="Orange") Orange
                option(value="Yoigo") Yoigo
                option(value="Pepephone") Pepephone
                option(value="Other") Other
          p#phone_number(style="display: none")
            label(for="phone_number") Phone number
              input(type="text", name="phone_number", placeholder="Phone number")
          p
            input(type='submit', value='Submit')
