extends layout

block content
  #container.all
    #display
      div
        table.table(class= "table-hover")
          thead
            tr
              th User
              th Device
              th
          tbody
            each user in users
              if (user.email)
                tr
                  td
                    a(href="/user/" + user.email) #{user.email}
                  td= user.device.imei
                  td
                    abbr(title="Feedback given by the user")
                      a(href="/user/" + user.email + "/comments")
                        i.icon-thumbs-up
                    abbr(title="Delete user")
                      a(href="/user/delete/" + user.email)
                        i.icon-trash
