extends layout

block content
  #container
    #username #{user}
    #display
      div
        table
          thead
            tr
              th Comment
              th Build id
              th Date added
            tbody
              each comment in comments
                tr
                  td= comment.comment
                  td= comment.build_id
                  td= comment.date_added
