html {
  background: #f6f4ec;
}

body {
  font: 14px 'Open Sans',sans-serif;
  background: #d7d3c8;
  background: -webkit-linear-gradient(top,  #d7d3c8 0%, #f6f4ec 100%);
  background:   linear-gradient(to bottom,  #d7d3c8 0%, #f6f4ec 100%); 
  background:    -moz-linear-gradient(top,  #d7d3c8 0%, #f6f4ec 100%);
  background:     -ms-linear-gradient(top,  #d7d3c8 0%, #f6f4ec 100%);
}

.navbar  {
  opacity: 0.8;
}
  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }
    .navbar .brand {
      margin: 0;
      padding: 0;
      font-size: 30px;
      line-height: 40px;
      color: #484848;
      font-weight: normal;
    }
      .navbar .brand span {
        background: url(../img/logo.png) 0 center no-repeat;
        height: 40px;
        font-size: 0;
        width: 138px;
        float: left;
      }

    .navbar .nav {
      float: right;
    }

#container {
  padding-top: 80px;
}
  
/* Forms */
form .row {
  margin-bottom: 20px;
}
  form label {
    margin: 3px 0 0 5px;
  }

  form .row input,
  form .row textarea {
    /*width: 100%;*/
    background: rgba(255,255,255,0.9);
  }

form .form-actions {
  background: none;
  text-align: right;
  padding: 10px 0 20px 20px;
  margin: 0;
  border: none;
}

form .form-actions.single {
  padding: 10px 0 20px 10px;
}
  form .form-actions button {
    margin-left: 10px;
  }

p.muted.small {
  font-size: 11px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/* Table */
.table th {
  font-size: 13px;
}

.table-striped tbody>tr:nth-child(odd)>td, 
.table-striped tbody>tr:nth-child(odd)>th {
  background: rgba(255,255,255,0.5);  
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background: rgba(255,255,255,0.8);  
}

.table th, .table td {
  padding: 3px 6px;
  line-height: 18px;
  vertical-align: middle;
}

/* Icons */
abbr[title],
abbr[data-original-title] {
}
  abbr[title] a,
  abbr[data-original-title] a {
    float: left;
    padding: 5px;
    line-height: 14px;
  }
  abbr[title] a:hover,
  abbr[data-original-title] a:hover {
    background: #3a87ad;
    border-radius: 3px;
  }
    a:hover [class^="icon-"], 
    a:hover [class*=" icon-"] {
      background-image: url("../img/glyphicons-halflings-white.png");
    }


/* Media queries */
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner {
    padding: 0 15px 0 20px;
  }

  #container {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  form .row {
    margin-bottom: 0;
  }

  form .row > div {
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) {
  .navbar .brand {
    font-size: 20px;
    float: left;
    width: 170px;
    line-height: 22px;
    padding-bottom: 5px;
  }
  .navbar .brand span {
    display: block;
    margin-right: 50px;
    background-position: 2px 10px;
  }
}
